:plain
  var buttonArea = $('.favorite .ui.icon.header');
  var icon = $('i.star.icon');
  var iconHeader = $('.favorite .content');
  var headerText = getHeaderText();

  if ("#{@error.present?}" !== 'true') {
    animateSuccess();
  } else
  {
    animateError();
  }

  // i will be able to minimilize the code sent by the controller if I use new action/

  function rerenderFavorite() {
    if ("#{action == 'create'}" === 'true') {
      var partial = "#{ escape_javascript render('favorites/remove', favorite_resource: @model)}"
      // element.addClass('remove');
    } else {
      var partial = "#{ escape_javascript render('favorites/new', favorite_resource: @model)}"
      // element.removeClass('remove');
    }

    $('.favorite').html(partial)
  }

  function animateError() {
    buttonArea
    .transition('scale', function() {
    }).transition('scale', function() {
      renderMessages("#{ escape_javascript render('layouts/messages')}");
    })
    ;
  }

  function animateSuccess(){
    buttonArea
    .transition('scale', function() {
      mutate(icon);
      iconHeader.text(headerText)
    }).transition('scale', function() {
      rerenderFavorite();
      renderMessages("#{ escape_javascript render('layouts/messages')}");
    })
    ;
  }

  function mutate(element) {
    if ("#{action == 'create'}" === 'true') {
      element.addClass('remove');
    } else {
      element.removeClass('remove');
    }
  }

  function getHeaderText() {
    if ("#{action == 'create'}" === 'true') {
      return "Remove from Favorites"
    } else {
      return "Add to Favorites"
    }
  }

