= form_for favorite_resource, method: :delete, remote: true, url: favorite_path(favorite_resource, header: local_assigns[:header]), html: {id: "remove_favorite_#{resource}_#{resource_id}", class: 'hidden'} do |f|
  = f.submit '#', class: 'hidden'
%a{ href: 'javascript:void(0)', class: 'submit', onclick: 'submitForm(this)'}
  %span.ui.icon.header.icon-option
    %i.star.icon.remove.popup{"data-content" => "Remove from Favorites"}
    = 'Un-favorite' if local_assigns[:header]
