.item{id: "notification_#{model.id}"}
  .content.notification
    .ui.grid.middle.aligned
      .fourteen.wide.column
        .title.ui.header
          - if (path = find_notification_path(model))
            = link_to(model.title + ' - View', path)
          - else
            = model.title
        %p.message
          = model.message
      .two.wide.column.center.aligned
        %span.delete-notification
          = render 'notifications/remove', model: model
