%a.item{:href => "#{user_path(model)}"}
  .content.list-row
    .ui.grid.middle.aligned
      .eleven.wide.column
        %h3.ui.header.row-title
          = image_tag(uploaded_path(model.avatar, :thumb), class: 'ui image middle aligned')
          = model.name
      .five.wide.column.right.aligned.item-count
        - count = model.berry_count
        %span.highlight.inline
          = count
        %h4.ui.header.inline
          %span.icon{"data-content" => "#{count} Berries"}
            -# = image_tag('default/berry-green.svg', width: 28)
          = 'Berry'.pluralize(count)
