= render 'shared/header', title: @title, padding: :none;
- if @visitor
  .favorite
    - if @favorite.persisted?
      = render 'favorites/remove', favorite_resource: @favorite, resource: :profile, resource_id: @model.id
    - else
      = render 'favorites/new', favorite_resource: @favorite, resource: :profile, resource_id: @model.id
- else
  = link_to 'Edit Account', edit_user_registration_path
  = link_to 'Edit Profile', edit_user_path(@model)
  = form_for(current_user, remote: true) do |f|
    = render 'fields', f: f
  .ui.compact.menu
    - notifications = @model.notifications
    -if notifications.present?
      %a.item.notifications{href: notifications_user_path(@model)}
        %strong.ui.icon.header
          %i.icon.outline.alarm
          - new_notifications = notifications.unreceived
          - if new_notifications.present?
            = "New " + 'Notification'.pluralize(@model.notifications.count)
          - else
            = 'Notifications'
        .floating.ui.circular.red.label
          = @model.notifications.count
  %h2
    Favorite Restaurants
  - if @favorite_restaurants
    = render 'shared/restaurant_list', restaurants: @favorite_restaurants
