= render 'shared/header', title: @title, padding: :none;
- if @model.notifications.present?
  = pluralize @model.notifications.count,  'Notifications'
- if @visitor
  .favorite
    - if @favorite.persisted?
      = render 'favorites/remove', favorite_resource: @favorite, resource: :profile, resource_id: @model.id
    - else
      = render 'favorites/new', favorite_resource: @favorite, resource: :profile, resource_id: @model.id
- else
  = link_to 'Edit Account', edit_user_registration_path
  = form_for(current_user) do |f|
    = f.label :name, "Username"
    = f.text_field :name
    = f.submit 'Submit', class: 'ui circular button blue'
  .ui.compact.menu
    %a.item.notifications{href: notifications_user_path(@model)}
      %strong.ui.icon.header
        %i.icon.outline.alarm
        = "New " + 'Notification'.pluralize(@model.notifications.count)
      .floating.ui.circular.red.label
        = @model.notifications.count

  %h2
    Favorite Restaurants
  - if @favorite_restaurants
    = render 'shared/restaurant_list', restaurants: @favorite_restaurants
