= render layout:'shared/authentication_wrapper' do
  = form_for(resource, as: resource_name,
                        url: password_path(resource_name),
                        html: { method: :put, class: 'ui form large' }) do |f|
    %h2.ui.header
      Change your password
    = f.hidden_field :reset_password_token
    .field
      = f.label :password do
        New password
        - if @minimum_password_length
          (#{@minimum_password_length} characters minimum)
      .ui.large.input
        = f.password_field :password, autofocus: true, autocomplete: "off"
    .field
      = f.label :password_confirmation, "Confirm new password"
      .ui.large.input
        = f.password_field :password_confirmation, autocomplete: "off"
    = f.submit "Change password", class: 'ui circular button purple'
    = render "devise/shared/links"
