- klass = klass || 'custom-form'
%div{class:  "sixteen wide mobile fourteen wide tablet column #{klass}"}
  = form_for resource, html: { class: 'ui form large' } do |f|
    - if title ||= nil
      .ui.form-title
        %h3.ui.header
          = title
    - if messages?
      = render 'shared/form_errors'
    = yield f
