- image ||= nil
- additional_header_content ||= nil
- additional_header_options ||= nil
- editable ||= nil
.ui.center.aligned.page-header
  %h1.ui.header{class: (editable ? 'inline-icon' : '')}
    = title
    - if editable
      %span.edit-item.bottom.aligned
        = render 'shared/edit_toggle', path: send("edit_#{@model.class.name.underscore.downcase}_path", @model), klass: 'ui header', data_content: 'Edit', remote: false
  - if location?
    .location
      = display_location
    -if phone?
      .phone
        = link_to "tel: #{@model.location.phone_number}" do
          %i.call.icon
          = @model.location.phone_number
  - if image
    = render'shared/header_photo', image: image, editable: editable
  - if defined?(subtitle)
    %h2.sub.header
      = subtitle
  = render 'shared/added_by'
  = render 'restaurants/business_hours'
  - if additional_header_content
    .row.options
      -if additional_header_options
        = render additional_header_content, additional_header_options
      - else
        = render additional_header_content
- if show_messages? && (messages = find_messages).present?
  %span.flash-messages
    = render 'layouts/messages', list: true, messages: messages
