%div{class: "#{flash_class(type)} close"}
	%i.close.icon
	= value
	- if type == 'error'
		- messages.each do |attr, messages|
			- if messages.present?
				%ul
					- messages.each do |msg|
						%li
							= "#{attr.to_s.titleize} #{msg}"
