.container.carousel-photos
  .carousel
    %span.scroll
      %a{href:  'javascript:void(0)'}
        %i.angle.left.icon.float.left
    %span
      - @model.photos.each_with_index do |item_photo, index|
        = link_to(item_photo, remote: true) do
          %img{src: uploaded_path(item_photo.photo, :thumb), class: 'ui image middle aligned photos header-img' + ((index != 0) ? ' hidden' : ' active') }
    %span.scroll
      %a{href:  'javascript:void(0)'}
        %i.angle.right.icon.float.right
  .ui.accordion
    .gallery.title
      %i.dropdown.icon
      More/Add Photos
    .content.photo-gallery
      .ui.four.column.doubling.grid.container
        - @model.photos.each do |img|
          .column
            = link_to(img, remote: true) do
              = image_tag(uploaded_path(img.photo, :thumb), class: 'ui image middle aligned photos')
            .caption
              Uploaded By:
              = link_to img.user.name, img.user
              - if img.user == current_user
                .delete-photo
                  = render 'shared/delete_toggle', path: item_photo_path(img), data_content: 'Delete Photo'
        .column
          .div{ class: 'ui image middle aligned default photos'}
            = link_to new_item_photo_path(item_id: @model.id), remote: true, class:'toggle' do
              %i.plus.icon.popup{"data-content" => "Add new Photo"}
              Add Photo
      .accordion-footer
        %button.ui.button.circular.purple.big.hide-accordion
          Hide Photos
