.ui.grid.container.page-content
  .row
    .two.wide.computer.only.column
    .sixteen.wide.mobile.twelve.wide.computer.column
      .ui.relaxed.divided.list.restaurant-list
        %h2.ui.divided.header
          - # this is kinda sloppy, i should determin the header in the controllers.
          - if current_page?('/search/restaurants')
            Most Relevent
          - else
            = option_view_name(@sort_by)
        = render 'shared/sort_form' unless current_page?('/search/restaurants')
        = link_to('Add Restaurant', new_restaurant_path()) unless current_page?('/search/restaurants')
        - restaurants.each do |restaurant|
          %a.item{:href => "#{restaurant_path(restaurant)}"}
            .content
              .ui.grid.middle.aligned
                .eight.wide.mobile.column
                  %h3.ui.header
                    = image_tag(image_path(restaurant), height: '60', width:'60', class: 'ui image middle aligned')
                    = restaurant.name.titleize
                .eight.wide.mobile.column.right.aligned.item-count
                  %h4
                    %span.highlight
                      = restaurant.items.count
                    %strong
                      Items
      .ui.container.center.aligned.new-content
        = will_paginate restaurants, renderer: WillPaginateSemanticUi::ActionView::Renderer
