.ui.vertical.stripe.segment.about
  .ui.middle.aligned.stackable.grid.container
    .row
      .center.aligned.column
        %h2.ui.header
          Start Using In
          %span.highlight.mobile-block 3 Easy Steps
    .row
      .eight.wide.column
        %h3.ui.header
          %span.highlight 1)
          Search for a restaurant
        %p
          We are continuously adding restaurants.
          = link_to ' View', restaurants_path
          the full list or use the
          = link_to ' search', current_page?(root_url) ? '#searchHero' : '#searchNav'
          bar to find the right one.
      .eight.wide.right.floated.column
        .device-mockup.imac.portrait.black
          .device
            .screen
              = image_tag('device_mock_screens/imac_screen.png')
      .mobile.only.eight.wide.column
        %h3.ui.header
          %span.highlight 2)
          See what is vegan!
        %p The vegan food items are listed alphabetically and by type.
      .six.wide.left.floated.column.tablet-mock
        .device-mockup.ipad_air_2.portrait.silver
          .device
            .screen
              = image_tag('device_mock_screens/ipad_screen.png')
      .tablet.only.computer.only.eight.wide.column
        %h3.ui.header
          %span.highlight 2)
          See what is vegan!
        %p The food items are listed alphabetically and by type.
      .eight.wide.column
        %h3.ui.header
          %span.highlight 3)
          Discover additional information.
        %p View the item's ingredients, user notes, and recipes.
      .computer.only.two.wide.column
      .five.wide.right.floated.column
        .device-mockup.iphone6.portrait.white
          .device
            .screen
              = image_tag('device_mock_screens/iphone_screen.png')
      .computer.only.one.wide.column
      .sixteen.wide.center.aligned.column
        %p.warning
          %span.highlight
            *Warning*
          \- The following is merely a guide.  Nothing displayed is 100% certified vegan unless specified.  Please always confirm with restaurant employees.
          The displayed food items are derived from restaurant ingredient listings and user input.
        = link_to 'View Restraurants', restaurants_path, class: 'ui circular button blue huge', id: 'top'



