= form_for contact, html: { class: 'ui form large' } do |f|
  .ui.segment.raised
    .field
      = f.label :name
      .ui.large.input
        = f.text_field :name, required: true, placeholder: 'Name'
    .field
      = f.label :email
      .ui.large.input
        = f.email_field :email, required: true, placeholder: 'Email'
    .field.restaurant-input
      = f.label :restaurant
      .ui.large.input
        = f.text_field :restaurant, required: false, placeholder: 'Restaurant'
    .field.restaurant-input-toggle
      %p
        %i
          Are you submitting/requesting a Restaurant to be added?
      .ui.large.buttons
        %input.ui.button.blue#yes{type: 'button', value: 'Yes'}
          Yes
        .or
        %input.ui.button.purple#no{type: 'button', value: 'No'}
    .field
      = f.label :message
      .ui.large.input
        = f.text_area :message, as: :text, placeholder: 'Message'
    .field
      .hidden
        = f.label :nickname
        %br
        = f.text_field :nickname, hint: 'leave this field blank'
      = f.submit 'Send Message', class: 'ui circular button blue'
