= render 'shared/header', title: @title, subtitle: @subtitle
.ui.container.contacts
  .ui.middle.aligned.center.aligned.grid
    .row
      .sixteen.wide.column.contact-form
        %h3.ui.icon.header
          %i.mail.outline.icon.ui.iamge
          .content
            Send us a message
        = render 'contacts/form', contact: @model
    %hr.custom-divider
    .row
      .sixteen.wide.column
        %h3.ui.header
          Email
        .email
          = link_to @contact_email, "mailto:#{@contact_email}"
    %hr.custom-divider
    .row
      .sixteen.wide.column
        %h3.ui.header
          Social Media
        .icons
          = render 'shared/social_icons'
