= render 'shared/header', title: @title
.ui.container.contacts
  .ui.middle.aligned.center.aligned.grid.page-content
    .row
      = render 'shared/form_wrapper', resource: @model, title: 'Message Form' do |f|
        - render 'form_fields',  f: f
    %hr.custom-divider
    .row
      .sixteen.wide.column
        %h3.ui.header
          Email
        .email
          = link_to @contact_email, "mailto:#{@contact_email}"
    %hr.custom-divider
    .row
      .sixteen.wide.column
        %h3.ui.header
          Social Media
        .icons
          = render 'shared/social_icons', klass: 'circular'
