.ui.segment.raised
  %h3.ui.header
    .content
      Please Fill Out
  .field
    = f.label :name, 'Restaurant Name'
    .ui.large.input
      = f.text_field :name, required: true, placeholder: 'Example - Jack\'s Diner'
  .field
    = f.label :website, 'Website'
    .ui.large.input
      = f.text_field :website, required: true, placeholder: 'www.jacks-diner.com'
  = f.fields_for :location do |ff|
    .field.state-dropdown
      = ff.label :state
      .ui.fluid.large.search.selection.dropdown
        = ff.hidden_field :state_id, :type => "hidden"
        %i.dropdown.icon
        .default.text
          Search...
        .menu
          - State.all.each do |state|
            .item{ "data-value" => state.id.to_s }
              = state.name
    .field
      = ff.label :city
      .ui.large.input
        = ff.text_field :city, placeholder: 'City'
  #items
    = f.fields_for :items do |item|
      = render 'item_fields', f: item
    .links
      = link_to_add_association 'Add Vegan Option', f, :items, { class: 'ui circular purple button'}
  %br
  = f.submit nil, class: 'ui circular button blue'
