.ui.segment.raised
  %h3.ui.header
    .content
      Please Fill Out
  .field
    = f.label :name, 'Restaurant Name'
    .ui.search.places
      .ui.large.icon.input
        = f.text_field :name, required: true, id: 'searchPlaces', class:'prompt', placeholder: 'Example - Jack\'s Diner'
        %i.icon.link
  .field
    = f.label :website, 'Website'
    .ui.large.input
      = f.text_field :website, placeholder: 'www.jacks-diner.com'
  .field.hidden
    = f.hidden_field :photo_url, value: @model.photo_url
  = f.fields_for :locations, (@location || @model.location) do |ff|
    = render 'locations/fields', f: ff
  #items
    - @model.items.select(&:new_record?).each do
      = f.fields_for :items do |item|
        = render 'item_fields', f: item
    .links
      = link_to_add_association 'Add Vegan Option', f, :items, { class: 'ui circular purple button'}
  %br
  = f.submit @submit_text, class: 'ui circular button blue'
