<div>
  <%= link_to item_ingredient.name, "https://en.wikipedia.org/wiki/#{item_ingredient.name.downcase.tr(' ', '_')}"  %>
  <div>
    <%=  "(#{item_ingredient.description})" if item_ingredient.description  %>

    <% if (nested_ingedients = item_ingredient.item_ingredients.nested) && nested_ingedients.present?  %>
          Containing:
        <%  nested_ingredients.each do |item_ingredient| %>
          <%= (render 'item_ingredient', item_ingredient: item_ingredient) if item_ingredient %>
        <% end %>
    <% end %>
    <% if item_ingredient = item_ingredient.item_ingredients.additional.first  %>
          <%= item_ingredient.context %>
          <%= (render 'item_ingredient', item_ingredient: item_ingredient) %>
    <% end %>
  </div>
</div>