%a.item{:href => "#{restaurant_path(model)}"}
  .content.list-row
    .ui.grid.middle.aligned
      .eleven.wide.mobile.column
        %h3.ui.header.row-title
          = image_tag(image_path(model), height: '60', width:'60', class: 'ui image middle aligned')
          = model.name
      .five.wide.mobile.column.right.aligned.item-count
        - count = model.items.count
        %h4
          %span.highlight
            = count
          %strong
            = 'Option'.pluralize(count)
