
<div class="row">
  <div class="column">
    <div class="ui middle aligned divided list">
      <% @restaurants.each do |restaurant| %>
        <a href="<%= restaurant_path(restaurant) %>" class="item">
          <div class="right floated content">
            <span class='menu-items count'>
              <b>Menu Items:</b>
              <%= restaurant.menu_items.count %>
            </span>
            <span class='non-menu-items count'>
              <b>Other Items:</b>
              <%= restaurant.non_menu_items.count %>
            </span>
          </div>
          <%= image_tag(image_path(restaurant), height: '100', width:'100', class: 'ui avatar image') %>
          <div class="content">
          <%= restaurant.name.titleize %>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>