= render 'shared/header', title: @title, image: image_path(@model), warning: true
.ui.grid.centered.container.page-content
  - if current_user && current_user == @model.user
    = link_to 'Edit', edit_restaurant_path(@model)
  = new_comments_link(@model)
  = render 'content_berries/toggle', resource: :restaurant, model: @model
  = render 'items/items', items: @items, item_type_scopes: @item_type_scopes
  .row
    .ui.container
      = render 'restaurants/options'
