- nested_ingredients = ingredient.nested
- and_or_ingredient = ingredient.and_or
- nested = 'nested' if nested.present? # TODO: this should be done in a better way, if someone passed nested: false, it would think it is true
.list-group-item{ class: nested }
  = link_to ingredient.name, "https://en.wikipedia.org/wiki/#{ingredient.name.downcase.tr(' ', '_')}", class: 'ingredient-name'
  = "(#{ingredient.description})" if ingredient.description
  - if nested_ingredients || and_or_ingredient
    %button.btn.btn-primary.btn-sm.show-ingredient-contents{ onclick: "toggleNested(this);" }
      - if nested_ingredients
        Show Contents
      - else
        = and_or_ingredient.context
    - if nested_ingredients
      - nested_ingredients.each do |ingredient|
        = (render 'ingredient', ingredient: ingredient, nested: true) if ingredient
    - if i = ingredient.and_or
      = render 'ingredient', ingredient: i, nested: true
