.item
  .content
    - if item.ingredient_string
      = link_to item_ingredients_item_path(item), remote: true, class: 'extra toggle-ingredients' do
        %div
          = item.name
    - else
      = item.name
    = comments_link(item)
    = link_to 'Report', report_item_path(item)
    .favorite
      - if @favorite_items.include? item
        = render 'favorites/remove', favorite_resource: current_user.favorites.find_by(item: item), resource: 'item', resource_id: item.id
      -else
        = render 'favorites/new', favorite_resource: Favorite.new(), resource: :item, resource_id: item.id
