- (nested = nil unless defined?(nested))
- (inline = nil unless defined?(inline))
- (item = nil unless defined?(item))

%div{class: item_ingredient_class(nested, inline, item) }
  = link_to item_ingredient.name, "https://en.wikipedia.org/wiki/#{item_ingredient.name.downcase.tr(' ', '_')}"
  = "(#{item_ingredient.description})" if item_ingredient.description
  = render_item_ingredient(item_ingredient)
