- (nested = nil unless defined?(nested))
%div{class: (nested ? 'nested-ingredient' : '')}
  = link_to item_ingredient.name, "https://en.wikipedia.org/wiki/#{item_ingredient.name.downcase.tr(' ', '_')}"
  %span
    = "(#{item_ingredient.description})" if item_ingredient.description
  %div
    = render_item_ingredient(item_ingredient)
