.item
  .content
    - if item.ingredient_string
      = link_to item_ingredients_item_path(item), remote: true, class: 'extra toggle-ingredients' do
        %div
          = item.name
    - else
      = item.name
    = comments_link(item)
    = link_to 'Report', report_item_path(item)
