.item
  .content
    - if item.ingredient_string
      = link_to item_ingredients_item_path(item), remote: true, class: 'extra toggle-ingredients' do
        %div
          = item.name
    - else
      = item.name
    = new_comments_link(item)
    = link_to 'Report', report_item_path(item)
    - if (current_user && current_user == item.user)
      = link_to 'Edit', edit_item_path(item), class: 'edit-item'
      = link_to "Delete", item_path(item), data: { confirm: "Are you sure?" }, method: :delete
    .favorite
      - if @favorite_items.include? item
        = render 'favorites/remove', favorite_resource: current_user.favorites.find_by(item: item), resource: 'item', resource_id: item.id
      -else
        = render 'favorites/new', favorite_resource: Favorite.new(), resource: :item, resource_id: item.id
