.item
  .content
    - if item.ingredient_string
      = link_to item_ingredients_item_path(item), remote: true, class: 'extra toggle-ingredients' do
        %div
          = item.name
    - else
      = item.name
    - if item.comments.present?
      = link_to('View Comments', comments_item_path(item))
    - else
      = link_to('Add Comment', new_item_comment_path(item_id: item.id))
