.field
  = f.label :country
  .ui.large.input
    = f.text_field :country, required: false, placeholder: 'United States'
.field
  = f.label :state
  .ui.large.input
    = f.text_field :state, required: false, placeholder: 'New York'
.field
  = f.label :city
  .ui.large.input
    = f.text_field :city, required: false, placeholder: 'Albany'
