.ui.inverted.vertical.footer.segment
  .ui.center.aligned.container
    = render 'shared/search', id: 'searchFooter'
    .ui.stackable.inverted.divided.grid.center.aligned
      .three.wide.column
        %h4.ui.inverted.header
          = @app_name
        .ui.inverted.link.list
          = render 'shared/navigation_items'
    .ui.inverted.section.divider
    .row.social
      = render 'shared/social_icons'
    .ui.horizontal.inverted.small.divided.link.list
      = link_to 'Site Map', sitemap_path, class: 'item'
      = link_to 'Terms and Conditions', terms_path, class: 'item'
      = link_to 'Privacy Policy', privacy_policy_path, class: 'item'
