.ui.inverted.vertical.masthead.center.aligned.segment
  %div
    .ui.large.secondary.inverted.menu
      .right.item
        - if current_user
          %span.ui.dropdown.right.item.user
            %i.user.circle.outline.icon
            .menu
              = link_to user_path(current_user), class: 'item' do
                %i.user.blue.icon
                Profile
              = link_to edit_user_path(current_user), class: 'item' do
                %i.write.blue.icon
                Edit Profile
              = link_to destroy_user_session_path, method: :delete, class: 'item' do
                %i.sign.out.blue.icon
                Sign Out
        - else
          = link_to 'Log in', new_user_session_path, class: "huge ui inverted button"
          = link_to 'Sign Up', new_user_registration_path, class: "huge ui white button"
      %a.toc.right.item.launch
        %i.sidebar.icon
  .ui.text.container
    = render 'layouts/messages' if flash.present?
    %strong.welcome
      Welcome to
    %h1.ui.inverted.header
      = @app_name
    %h2.subheader
      = @hero_description
    = yield
    .mobile.only.more
      %span
      Learn More
      %br
      %i.angle.down.icon
.ui.vertical.stripe.segment.mission
  .ui.text.container.center.aligned
    .problem
      %h3.ui.header
        %span.highlight Vegans
        know how hard it is to eat at most restaurant chains.
    .solution
      %h3.app-name
        %span.highlight
          = @app_name
        can help!
      %p
        We show you which food items contain
        %span.highlight NO animal products.
    = link_to 'Learn More', about_path, class: "ui circular button blue huge"
= render 'shared/steps'
= render 'layouts/footer'
