.ui.inverted.vertical.masthead.center.aligned.segment
  .ui.text.container
    %strong.welcome
      Welcome to
    %h1.ui.inverted.header
      = @app_name
    %h2.subheader
      = @hero_description
    = yield
    .mobile.only.more
      %span
      Learn More
      %br
      %i.angle.down.icon
= render 'shared/about'
= render 'layouts/footer'
