.ui.top.attached.stackable.menu
  = link_to 'Home', root_path, class: "ui item"
  = link_to 'Restaurants', restaurants_path, class: 'ui item'
  .right.menu
    .ui.right.aligned.search.item
      = form_tag search_restaurants_path, method: 'get', class: 'ui search' do
        .ui.transparent.icon.input
          = text_field_tag :q, nil, id: 'search', class:'prompt'
          %i.search.icon
        .results
        = submit_tag "Sign in"
